<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Star wars</title>
</head>
<body>
    <header>
        <ul class="container">
            <li>Le coté lumineux</li>
            <li>Le coté obscur</li>
            <li>L'empire</li>
            <li>Les droïdes</li>
            <li>Les ewoks</li>
            <li>Jabba le hutt</li>
        </ul>
        <img id="hamburger-menu" alt="hamburger-menu">
        <img id="close-menu" alt="close-menu">
    </header>
    <section id="logo-container">
        <div id="logo-parallax">
            <img id="sw-logo" alt="sw-logo">
        </div>
    </section>
    <section id="main-content" class="container">
        <div>
            <h2>Star Wars, The Force Awakens</h2>
            <p>
                Plus de 30 ans après la bataille d'Endor, la galaxie n'en a pas fini avec la tyrannie et
                 l’oppression. Les membres de l'Alliance rebelle, devenus la « Résistance », combattent 
                 les vestiges de l'Empire réunis sous la bannière du « Premier Ordre ».
            </p>
            <p>
                Un mystérieux guerrier, Kylo Ren, semble vouer un culte à Dark Vador et pourchasse les ennemis du 
                Premier Ordre à travers la galaxie. Au même moment, une jeune femme nommée Rey, pilleuse d'épaves 
                sur la planète désertique Jakku, va faire la rencontre de Finn, un Stormtrooper en fuite, une 
                rencontre qui bouleversera sa vie.
            </p>
            <p>
                Plus de 30 ans après la bataille d'Endor, la galaxie n'en a pas fini avec la tyrannie et 
                l’oppression. Les membres de l'Alliance rebelle, devenus la « Résistance », combattent les 
                iges de l'Empire réunis sous la bannière du « Premier Ordre ».
            </p>
            <p>
                Un mystérieux guerrier, Kylo Ren, semble vouer un culte à Dark Vador et pourchasse 
                les ennemis du Premier Ordre à travers la galaxie. Au même moment, une jeune femme nommée 
                Rey, pilleuse d'épaves sur la planète désertique Jakku, va faire la rencontre de Finn, 
                un Stormtrooper en fuite, une rencontre qui bouleversera sa vie.
            </p>
            <p>
                Un mystérieux guerrier, Kylo Ren, semble vouer un culte à Dark Vador et pourchasse les 
                ennemis du Premier Ordre à travers la galaxie. Au même moment, une jeune femme nommée Rey, 
                pilleuse d'épaves sur la planète désertique Jakku, va faire la rencontre de Finn, un 
                Stormtrooper en fuite, une rencontre qui bouleversera sa vie.
            </p>
            <p>
                Plus de 30 ans après la bataille d'Endor, la galaxie n'en a pas fini avec la tyrannie
                et l’oppression. Les membres de l'Alliance rebelle, devenus la « Résistance », 
                combattent les vestiges de l'Empire réunis sous la bannière du « Premier Ordre ».
            </p>
        </div>
        <div>
            <img id="advert" alt="battlefront advert">
        </div>
    </section>

    <div class="parallax-img">
        <div id="kylo-parallax"></div>
    </div>

    <section id="sub-content" class="container">
        <h3>A long time ago, in a galaxy far, far away…</h3>
        <div>
            <div><img alt="c3po and r2d2" id="droids"></div>
            <p>
                <strong>La Guerre des étoiles</strong> (titre original <strong>Star Wars</strong>, soit littéralement Guerres 
                Stellaires ) est une épopée cinématographique de science-fiction créée par George 
                Lucas, considérée comme un élément phare du space opera. Prévue à la base pour être 
                une suite de trois trilogies (triptyque), Lucas fut contraint, par manque de moyens 
                techniques, de commencer par la seconde trilogie <strong>(l'Épisode IV - Un nouvel espoir)</strong> en
                7. La série connut un succès phénoménal partout dans le monde et engendra une très 
                importante communauté de fans.
                Sans prétendre expliquer le succès du premier film (s'il y avait une recette, cela se 
                saurait), on peut, toutefois, noter que, malgré le manque de moyens (le budget était 
                relativement modeste, les acteurs presque inconnus) :
            </p>
        </div>

        <ul>
            <li>
                - Il fait appel à des références connues et appréciées des jeunes de l'époque : 
                films de cape et d'épée, westerns, péplums, contes de fées et même <strong>le Seigneur des Anneaux</strong> de J.R.R. Tolkien ; cette œuvre n'apparaît pas comme de la 
                science-fiction au sens strict mais plutôt comme du space fantasy.
            </li>
            <li>
                - Les effets spéciaux, supervisés par Ken Ralston, étaient réellement novateurs,
                 avec notamment la participation de John Dykstra (qui a également participé au 
                 premier film de <strong>Star Trek</strong> ), qui avait développé une nouvelle manière d'animer 
                 les maquettes des vaisseaux en coordonnant leurs mouvements par ordinateur 
                 (Dykstraflex).
            </li>
            <li>
                - Le film a développé un univers cohérent, avec, comme préoccupation constante, 
                autant la création d'une ambiance que l'action proprement dite.
            </li>
            <li>
                - La musique, composée par John Williams, introduit des thèmes récurrents et des
                 leitmotivs (procédé classique mais renforçant la cohérence).
            </li>
        </ul>
    </section>
    <div class="parallax-img stormtroopers">
            <div id="stormtroopers-parallax"></div>
        </div>
    <footer>
        
        <div id="footer-content">
            <h5><strong>TM Lucasfilm</strong> Ltd. All Rights Reserved</h5>
            <div class="container">
                <ul>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Legal Notices</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
                <ul>
                    <li><a href="#">Your California Privacy Rights</a></li>
                    <li><a href="#">Star Wars a Disney Store</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>

                <div id="social">
                    <div>follow star wars</div>
                    <div>
                        <a href="#"><img id="facebook" alt="facebook"></a>
                        <a href="#"><img id="twitter" alt="twitter"></a>
                        <a href="#"><img id="instagram" alt="instagram"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="/public/assets/js/bundle.js"></script>
</body>
</html>